@font-face{
    font-family: 'Inter';
    src: url("/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

body {
    font-family: 'Inter';
    background: linear-gradient(180deg, rgba(95, 223, 183, 0.9) -67.07%, #FFFFFF 18.59%, #FFFFFF 100%);
}

.logo {
    width: 5rem;
}

.navbar {
    font-weight: 500;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #1a906b;
}

.logo-search{
    gap: 40px;
    display: flex;
    align-items: center;
}

.btn {
    background-color: #20B486;
    color: white;
    border: 4px solid white;
    border-radius: 12px;
}

.btn:hover {
    background-color: #1a906b;
    color: white;
}

.search-icon {
    color: #98A2B3;
}

.button-text {
    background-color: #F2FFFB;
    color: #20B486;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
}

.angle-down-icon {
    color: #20B486;
    background-color: #F2FFFB;
    padding: 16px 4px;
    border-radius: 4px;
}

.contact_us {
    width: 65rem;
    height: 36rem;
    padding: 60px 80px;
    margin-top: 150px;
    margin-bottom: 150px;
    box-shadow: 2px 10px 28px 0px #4B00811F;
    border-radius: 12px;
}

.contact-heading{
    color: #20B486;
    padding-bottom: 5px;
    border-bottom: 2px solid #20B486;
}

.contact-message {
    font-weight: 600;
    font-size: larger;
}

.name-input label {
    position: relative; 
    width: fit-content;
    top: 12px; 
}

.name-input input {
    width: 29.5rem;
    margin-left: -12px;
}

.name-text {
    height: 40px;
}

.inputs {
    width: 28rem;
}

.inputs textarea {
    max-height: 130px;
}

.send-btn {
    height: 3.5rem;
}

.address {
    line-height: 6px;
}

.contact-icons i{
    color: black;
}

footer {
    background-color: #101828;
}

.title-footer {
    color: #98A2B3;
}

.new {
    color: black;
    background-color: white;
    font-weight: 500;
    border-radius: 16px;
    padding: 2px 8px;
    height: 28px;
}

.press {
    height: 24px;
}

footer p {
    color: #EAECF0;
}

footer li {
    margin-bottom: 0.5rem;
}

footer li a {
    color: #EAECF0;
    text-decoration: none;
}

footer i {
    color: #98A2B3;
}