@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Hero .circle{
    border:1px #20B48640 groove;
    border-radius: 50%;
    padding: 40px;
    position: relative !important;
}
#Hero .fa-circle{
    color: #20B486;
    position: absolute !important;
    top: 12px !important;
    left: 70px !important;
}
.content-Hero{
    position: relative;
}
.content{
    max-width:100px;
}
.h1-content{
    font-family: 'Inter', sans-serif;
    z-index: 5;
    position:absolute;
    top:10%;
    left:20%;  
    font-Weight: 800;
}
.h1-content span{
    color:#20B486;
}