@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
    font-family: 'Inter';
    background: linear-gradient(180deg, rgba(95, 223, 183, 0.9) -67.07%, #FFFFFF 18.59%, #FFFFFF 100%);
}
/*nav bar*/

/*Hero section*/
.circle {
  border: 1px #20b48640 groove;
  border-radius: 50%;
  padding: 30px;
  position: relative !important;
}
#Hero .circle6 {
  color: #20b486;
  position: absolute !important;
  top: 32px !important;
  left: 70px !important;
}
.Main-circle {
  width: 400px;
  height: 400px;
}
.content-Hero {
  position: relative;
}
.content {
  position: absolute;
  top: 10%;
  left: 20%;
}
.h1-content {
  font-family: "Inter", sans-serif;
  z-index: 5;
  font-weight: 700;
  font-size: 60px;
}
.h1-content span {
  color: #20b486;
}
.button-content-Hero {
  background-color: #20b486;
  transition: all 0.3s ease-in-out;
}
.button-content-Hero:hover {
  background-color: #eafff9;
  color: #3bc49a !important;
}
.fa-circle {
  color: #20b48699;
}
.background-picytre {
  background-color: #20b486;
  border: none;
  border-radius: 44% 56% 55% 45% / 35% 40% 60% 65%;
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  animation: moveback 5s infinite alternate;
}

.img-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
}
@keyframes moveback {
  0% {
    border-radius: 51% 49% 100% 0% / 98% 100% 0% 2%;
    box-shadow: 10px 0 100px #20b485;
  }
  50% {
    border-radius: 100% 0% 0% 100% / 49% 0% 100% 51%;
    box-shadow: 10px 0 100px #20b485;
  }
  75% {
    border-radius: 100% 0% 48% 52% / 0% 0% 100% 100%;
    box-shadow: 10px 0 100px #20b485;
  }
  100% {
    border-radius: 0% 100% 100% 0% / 100% 51% 49% 0%;
    box-shadow: 10px 0 100px #20b485;
  }
}
.span {
  color: #20b486;
}
.card1 {
  border: 1px #20b485 groove;
  border-radius: 20px;
  background-color: #fff;
  z-index: 120;
  width: 200px !important;
  position: absolute;
  top: 300px;
  left: 575px;
}
.img-card1-hero {
  background-color: #20b485;
  width: 50px;
  height: 50px;
}
.text-text-card1 {
  margin-top: -20px;
}
.course-card {
  width: 130px;
  height: 170px;
  background: #fff;
  border: 1px solid #c6e8d9;
  border-radius: 20px;
  border: 1px #20b485 groove;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  right: 0px;
  top: 100px;
}
.course-card h2 {
  font-size: 24px;
  color: #000;
  font-weight: 700;
}

.course-card p {
  font-size: 16px;
  color: #777;
}

.progress-circle svg {
  transform: rotate(-90deg);
}

circle {
  fill: none;
  stroke-width: 6;
}

.bg {
  stroke: #e6e6e6;
}

.progress {
  stroke: #20c997;
  stroke-dasharray: 188.4;
  stroke-dashoffset: 47;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s ease;
}
.card3 {
  border: 1px #20b485 groove;
  border-radius: 20px;
  background-color: #fff;
  z-index: 120;
  width: 200px !important;
  position: absolute;
  bottom: 50px;
  right: 200px;
}
/*Brands*/
#Brands {
  margin-top: 80px;
}
.p-brands {
  color: #20b485;
  font-weight: bolder !important;
  font-size: 24px;
  margin-bottom: -5px;
}
/*servises section*/
.p-servises {
  color: #20b485;
}
.div-servises {
  max-width: 600px;
  text-align: center;
}
.card1-servises {
  max-width: 350px;
  transition: all 0.3s ease-in-out;
}
.card1-servises:hover {
  background-color: #20b485 !important;
  color: #fff !important;
  .fa-arrow-right {
    animation: go 2s ease-in-out;
  }
}
@keyframes go {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(100px);
  }
}
.img-servises {
  width: 50px;
}
.first {
  background-color: #20b485;
  padding: 10px;
  width: 80px;
}
.second {
  background-color: #d9d9d9;
  padding: 10px;
}
/*programs section*/
.Programs-p {
  color: #1a906b;
  font-weight: bold;
}
.card-programs {
  position: relative;
  transition: all 0.3s ease-in-out;
  filter: blur(8px);
}
.card-programs:hover {
  transform: translateY(-20px);
  box-shadow: 0px 0px 10px #000000 !important;
  filter: blur(0px);
}
.p-card-programs {
  color: #1a906b;
}
.stars .fa-star {
  color: #ff9b26;
}
.float-padge {
  position: absolute;
  top: 22px;
  right: 16px;
  background: white;
  height: 25px;
  padding: 3px;
}
.text-review1 {
  margin-bottom: -5px;
}
.review1-img {
  width: 40px;
  margin-top: -15px;
}
.review2-img {
  width: 270px;
  height: 200px;
}
.price-card-programs {
  color: #20b486;
}
.button-programs {
  background-color: #f9fafb;
  transition: all 0.3s ease-in-out;
}
.button-programs:hover {
  background-color: #20b485;
  color: white !important;
}
/*Tutors section*/
.p-Tutors {
  color: #22b286;
}
.card1-Tutors {
  background-color: #f9fafb;
  transition: all 0.3s ease-in-out;
}
.p-card1-Tutors {
  color: #22b286;
}
.card1-Tutors:hover {
  background-color: #20b486;
  color: white !important;
  transform: translateY(-20px);
  .p-card1-Tutors {
    color: white !important;
  }
}
.card2-Tutors {
  background-color: #f9fafb;
  transition: all 0.3s ease-in-out;
}
.card2-Tutors:hover {
  background-color: #20b486;
  color: white !important;
  transform: translateY(-20px);
  .p-card1-Tutors {
    color: white !important;
  }
}
.card3-Tutors {
  background-color: #f9fafb;
  transition: all 0.3s ease-in-out;
}
.card3-Tutors:hover {
  background-color: #20b486;
  color: white !important;
  transform: translateY(-20px);
  .p-card1-Tutors {
    color: white !important;
  }
}
.card4-Tutors {
  background-color: #f9fafb;
  transition: all 0.3s ease-in-out;
}
.card4-Tutors:hover {
  background-color: #20b486;
  color: white !important;
  transform: translateY(-20px);
  .p-card1-Tutors {
    color: white !important;
  }
}
/*commints section*/
#commints {
  background-color: #f0faf7;
}
.logo-commints {
  width: 100px;
}
.img-commints {
  width: 70px;
}
/*recent blogs section*/
.date-recent-blogs {
  color: #20b486;
}
.p-card1 {
  color: #c11574;
  background-color: #fdf2fa;
  width: 90px;
}
.p2-card1 {
  color: #026aa2;
  background-color: #f0f9ff;
  width: 65px;
}
.second-cards {
  margin-left: -80px;
}
.p3-card1 {
  color: #026aa2;
  background-color: #f0f9ff;
  width: 100px;
}
.p4-card1 {
  color: #3538cd;
  background-color: #eef4ff;
}
.p5-card1 {
  color: #ff9b26;
  background-color: #fff9f3;
}
.img-card3-blogs {
  width: 600px;
  height: 300px;
}
/*----------------------------------------------------------------------------------------------*/
/* About us page*/
/* about us section*/
.h1-about-us {
  color: #1a906b;
}
.span-h1-about-us {
  color: #ff9b26;
}
.button-about-us {
  color: white;
  background-color: #22b286;
  transition: 0.3s ease all;
}
.button-about-us:hover {
  background-color: #105641;
  top:200px !important;
}
.background-about-us{
    background-color: #F2F2F2;
padding: 150px;
}
.img1-about{
    top: 50px !important;
}
.img2-about{
   left:-150px !important;
}
.section2-about{
    margin-right: 90px !important;
}
/*Features*/
#Features{
  margin-top: 150px;
}
.bg-img2{
  background-color:#F2F2F2 ;
  padding: 180px;
  height: 100px;
}
.img-section2{
  width:350px;
  top: 40px;
  height: 350px ;
}
.section2-Features{
  margin-left: 150px;
}

/*Benfits*/
.p-Benfits{
  color:#20b486;
}
.item{
  width: 350px;
  height: 200px;
  background-color: #fffefe;
  border-radius: 20px;
  position: relative;
  border:1px #495057 groove;
  transition: all 0.3s ease-in-out;
  filter:blur(20px);
}
.half-circle{
  width: 50px;
  height: 25px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #22b28748;
  transform: rotate(320deg);
  position:absolute;
  transition: all 0.5s ease-in-out;
  top:15px;
}
.text-item{
  color:#20b486;
}
.item:hover{
background-color: #F7FDF9;
  filter:blur(0px);
  border: none;
  box-shadow: 0px 0px 10px #000000;
}
.item:hover .half-circle{
  transform: rotate(50deg);
}
.sapn-item{
  color:#20b486;
}
/*---------footer section*/

footer {
    background-color: #101828;
}

.title-footer {
    color: #98A2B3;
}

.new {
    color: black;
    background-color: white;
    font-weight: 500;
    border-radius: 16px;
    padding: 2px 8px;
    height: 28px;
}

.press {
    height: 24px;
}

footer p {
    color: #EAECF0;
}

footer li {
    margin-bottom: 0.5rem;
}

footer li a {
    color: #EAECF0;
    text-decoration: none;
}

footer i {
    color: #98A2B3;
  }
/*-------------------------------------------------------*/
/* contact us page*/
.logo {
    width: 100px;
}

.navbar {
    font-weight: 500;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #1a906b;
}

.logo-search{
    gap: 40px;
    display: flex;
    align-items: center;
}

.btn {
    background-color: #20B486;
    color: white;
    border: 4px solid white;
    border-radius: 12px;
}

.btn:hover {
    background-color: #1a906b;
    color: white;
}

.search-icon {
    color: #98A2B3;
}

.button-text {
    background-color: #F2FFFB;
    color: #20B486;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
}

.angle-down-icon {
    color: #20B486;
    background-color: #F2FFFB;
    padding: 16px 4px;
    border-radius: 4px;
}

.contact_us {
    width: 65rem;
    height: 36rem;
    padding: 60px 80px;
    margin-top: 150px;
    margin-bottom: 150px;
    box-shadow: 2px 10px 28px 0px #4B00811F;
    border-radius: 12px;
}

.contact-heading{
    color: #20B486;
    padding-bottom: 5px;
    border-bottom: 2px solid #20B486;
}

.contact-message {
    font-weight: 600;
    font-size: larger;
}

.name-input label {
    position: relative; 
    width: fit-content;
    top: 12px; 
}

.name-input input {
    width: 29.5rem;
    margin-left: -12px;
}

.name-text {
    height: 40px;
}

.inputs {
    width: 28rem;
}

.inputs textarea {
    max-height: 130px;
}

.send-btn {
    height: 3.5rem;
}

.address {
    line-height: 6px;
}

.contact-icons i{
    color: black;
}
