@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circle{
    border:1px #20B48640 groove;
    border-radius: 50%;
    padding: 30px;
    position: relative !important;
}
#Hero .circle6{
    color: #20B486;
    position: absolute !important;
    top: 32px !important;
    left: 70px !important;
}
.Main-circle{
    width: 400px;
    height: 400px;
}
.content-Hero{
    position: relative;
}
.content{
    position:absolute;
    top:10%;
    left:20%;
}
.h1-content{
    font-family: 'Inter', sans-serif;
    z-index: 5;  
    font-Weight: 700;
    font-size: 60px;
}
.h1-content span{
    color:#20B486;
}
.button-content-Hero{
    background-color: #20B486;
    transition: all 0.3s ease-in-out;
}
.button-content-Hero:hover{
    background-color: #EAFFF9;
    color:#3BC49A !important;
}
.fa-circle{
    color:#20B48699;
}
.background-picytre {
    background-color: #20B486;
    border: none;
    border-radius: 44% 56% 55% 45% / 35% 40% 60% 65% ;
    width: 100%;
    height: 400px; 
    overflow: hidden;
    position: relative;
    animation: moveback 5s infinite alternate;
}

.img-hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
}
@keyframes moveback{
    0%{
        border-radius: 85% 15% 34% 66% / 61% 67% 33% 39% ;
        box-shadow: 10px 0 100px #20b485;
    }
    50%{
        border-radius: 66% 34% 12% 88% / 5% 49% 51% 95% ;
        box-shadow: 10px 0 100px #20b485;
    }
    75%{
        border-radius: 55% 45% 76% 24% / 51% 81% 19% 49%  ;
        box-shadow: 10px 0 100px #20b485;
    }
    100%{
        border-radius: 85% 15% 34% 66% / 61% 67% 33% 39% ;
        box-shadow: 10px 0 100px #20b485;
    }
}
.span{
    color:#20B486;
}
.card1{
    border: 1px #20b485 groove;
    border-radius: 20px;
    background-color: #F5F5F4;
    z-index: 120;
    width: 200px !important;
    position: absolute;
    top:20px;
}
.img-card1-hero{
    background-color: #20b485;
    width: 50px;
    height: 50px;
}
.text-text-card1{
    margin-top: -20px;
}
.card2{
  border: 1px #20b485 groove;
    border-radius: 20px;
    background-color: #F5F5F4;
    z-index: 120;
    width: 200px !important; 
}
.cover{
    border-radius: 50%;
    background-color: #EAECF0;
    width:100px;
    height: 100px;
}
.progress{
    border-radius: 50%;
    background-color: #20B486;
}