@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.circle{
    border:1px #20B48640 groove;
    border-radius: 50%;
    padding: 30px;
    position: relative !important;
}
#Hero .circle6{
    color: #20B486;
    position: absolute !important;
    top: 32px !important;
    left: 70px !important;
}
.Main-circle{
    width: 400px;
    height: 400px;
}
.content-Hero{
    position: relative;
}
.content{
    position:absolute;
    top:10%;
    left:20%;
}
.h1-content{
    font-family: 'Inter', sans-serif;
    z-index: 5;  
    font-Weight: 700;
    font-size: 60px;
}
.h1-content span{
    color:#20B486;
}
.button-content-Hero{
    background-color: #20B486;
    transition: all 0.3s ease-in-out;
}
.button-content-Hero:hover{
    background-color: #EAFFF9;
    color:#3BC49A !important;
}
.fa-circle{
    color:#20B48699;
}
.background-picytre {
    background-color: #20B486;
    border: none;
    border-radius: 44% 56% 55% 45% / 35% 40% 60% 65% ;
    width: 100%;
    height: 400px; 
    overflow: hidden;
    position: relative;
    animation: moveback 5s infinite alternate;
}

.img-hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
}
@keyframes moveback{
    0%{
        border-radius: 51% 49% 100% 0% / 98% 100% 0% 2%  ;
        box-shadow: 10px 0 100px #20b485;
    }
    50%{
        border-radius: 100% 0% 0% 100% / 49% 0% 100% 51%  ;
        box-shadow: 10px 0 100px #20b485;
    }
    75%{
        border-radius: 100% 0% 48% 52% / 0% 0% 100% 100%   ;
        box-shadow: 10px 0 100px #20b485;
    }
    100%{
        border-radius: 0% 100% 100% 0% / 100% 51% 49% 0%  ;
        box-shadow: 10px 0 100px #20b485;
    }
}
.span{
    color:#20B486;
}
.card1{
    border: 1px #20b485 groove;
    border-radius: 20px;
    background-color: #fff;
    z-index: 120;
    width: 200px !important;
    position: absolute;
    top:150px;
    left:550px;
}
.img-card1-hero{
    background-color: #20b485;
    width: 50px;
    height: 50px;
}
.text-text-card1{
    margin-top: -20px;
}
.course-card {
  width: 130px;
  height: 170px;
  background: #fff;
  border: 1px solid #c6e8d9;
  border-radius: 20px;
  border: 1px #20b485 groove;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  right:0px;
  top:100px;
}
.course-card h2 {
  font-size: 24px;
  color: #000;
  font-weight: 700;
}

.course-card p {
  font-size: 16px;
  color: #777;
}

.progress-circle svg {
  transform: rotate(-90deg);
}

circle {
  fill: none;
  stroke-width: 6;
}

.bg {
  stroke: #e6e6e6;
}

.progress {
  stroke: #20c997;
  stroke-dasharray: 188.4;
  stroke-dashoffset: 47; 
  stroke-linecap: round;
  transition: stroke-dashoffset 1s ease;
}
.card3{
    border: 1px #20b485 groove;
    border-radius: 20px;
    background-color: #fff;
    z-index: 120;
    width: 200px !important;
    position: absolute;
    bottom:150px;
    right: 200px;
}
/*Brands*/
#Brands{
    margin-top: 80px;
}
.p-brands{
    color:#20b485
}
/*servises section*/
.p-servises{
    color:#20b485
}
.div-servises{
    max-width: 600px;
    text-align: center;
}
.card1-servises{
    max-width: 400px;
    transition: all 0.3s ease-in-out;
}
.card1-servises:hover{
    background-color: #20b485 !important;
    color:#fff !important;
}